/*
    reset
*/

html {
    font-family: sans-serif;
    color: #444;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding: 0 15px;
}

figure {
    margin: 0;
}

/* My Styles */
/* HEADER */

header {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.header-branding {
    text-align: center;
}

.info-header {
    text-align: right;
}

.info-header h1 {
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 20px;
}

.info-header p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #777;
}

/* MAIN CONTENT */

.main-image {
    width: 100%;
}

.img-responsive {
    width: 100%;
}

.figure-wrapper {
    position: relative;
}

.overlay-caption {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    text-shadow: 3px 3px 3px #333;
}

.soundcloud-vp {
    width: 100%;
    height: 300px;
}

/* FOOTER */
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 20px 10px; 
    margin-top: 40px;
    background-color: #2f2f2f;
    color: white;
    box-shadow: 3px -6px 2px 2px;
    font-size: 30px;
}

footer section {
    display: flex;
    justify-content: space-between;
}

footer section a {
    margin-right: 30px;
}

/* MEDIA QUERY FOR TABLET */

@media screen and (min-width: 500px) {
    header {
        margin-top: 20px;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }
    .info-header h1 {
        margin: 0;
    }
    /* MAIN */
    .main-image {
        filter: blur(2px);
        transition: all .6s ease-in-out;
    }
    .main-image:hover {
        filter: blur(0px)
    }

    /* WIDTH SETTINGS */
    .full-row {
        width: 100%;
    }

    .half-row {
        width: 50%;
    
    }
    /* BOX SHADOW SETTINGS */
    .shadow {
        box-shadow: 0 3px 4px 0px;
    }

    .shadow-float {
        box-shadow: -15px 15px 9px -1px rgba(50, 50 , 50, 0.6);
    }

    .featured-work {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    .soundcloud-vp {
        width: 100%;
        min-height: 100%;
    }

    .float-music-player {
        width: 100%;
        margin-bottom: 40px;
    }

    .soundcloud-vp {
        width: 100%;
    }
}

/* MEDIA QUERY FOR DESKTOP */

@media screen and (min-width: 1024px) {
    .float-music-player {
        position: fixed;
        z-index: 99;
        right: 13px;
        bottom: 13px;
        width: 150px;
        height: 150px;
        margin: 0;
    }

    .soundcloud-vp {
        width: 150px;
        height: 150px;
    }

    .float-music-player h3 {
        display: none;
    }

    .shadow-float {
        box-shadow: -15px 15px 9px -1px rgba(50, 50 , 50, 0.6);
    }

    footer {
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }
}